<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.serviceModel>
    <services>
      <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
      <!--<service name="MyService" behaviorConfiguration="returnFaults">
        <endpoint contract="IMyService" binding="wsHttpBinding"/>
      </service> -->
      <service name="MyService" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="IMyService" binding="wsHttpBinding" ></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="returnFaults" >
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior> -->
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>